{% extends "base.html" %}
{% block head %}
	<title>Get user Info</title>
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
	{% if user.is_authenticated %}
		<div class="container mt-5">
			<div class="row mt-5">
				<div class="col-md-12 mt-5">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Inicio</a></li>
							<li class="breadcrumb-item active" aria-current="page">Profile</li>
						</ol>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mt-5">
					<h1 class="text-center display-4">User Panel</h1>
					<p class="lead text-center">This is sample example for integration of AJAX with Django</p>
					<p class="lead text-center">GET the user details for selected user. Please create some users(if not created)</p>
				</div>
			</div>
			<div class="row justify-content-center align-items-center">
				<div class="col-4">
					<label>Select Username</label>
					<select class="form-control" id = "users">
						<option selected="true" disabled="disabled">Select user</option>
						{% for uname in usernames %}
							<option value = {{uname.username}}>{{uname.username}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-9" id = "user_info">
					<hr />
					<table class="table table-stripped table-fixed">
						<thead>
							<tr>
								<td>First Name</td>
								<td>Last Name</td>
								<td>Email</td>
								<td>is_active</td>
								<td>Date Joined</td>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	{% else %}
		<script>
			$(document).ready(function () {
				var url = "{% url 'login' %}";
				$(location).attr('href', url);
			});
		</script>
	{% endif %}
{% endblock %}
{% block script %}
	<script type="text/javascript">
		$(document).ready(function(){
			$("#users").change(function(e){
				e.preventDefault();
				var username = $(this).val();
				var data = {username};
				$.ajax({
					type : 'GET',
					url :  "{% url 'get_user_info' %}",
					data : data,
					success : function(response){
						$("#user_info table tbody").html(`<tr>
							<td>${response.user_info.first_name || "-"}</td>
							<td>${response.user_info.last_name || "-"}</td>
							<td>${response.user_info.email || "-"}</td>
							<td>${response.user_info.is_active}</td>
							<td>${response.user_info.joined}</td>
							</tr>`)
					},
					error : function(response){
						console.log(response)
					}
				})
			})
		})
	</script>
{% endblock %}