{% extends "base.html" %}
{% block head %}
	<title>Editing post | linuxitos</title>
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
	{% if user.is_authenticated %}
		<div class="container mt-5">
			<div class="row mt-5">
				<div class="col-md-12 mt-5">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Inicio</a></li>
							<li class="breadcrumb-item"><a href="{%url 'posts'%}">Posts</a></li>
							<li class="breadcrumb-item active" aria-current="page">Editing post</li>
						</ol>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Editando post con ajax</h5>
							<div class="row justify-content-center align-items-center">
								<div id="div-cnt-msg-add" class="col-sm-12"></div>
								<div class="col-md-12">
									{% if post != False %}
										<form id="form-add-post" method="POST" action="{% url 'edit' post.id %}" accept-charset="utf-8" enctype="multipart/form-data">
											{% csrf_token %}
											<input type="hidden" name="user" value="{{post.user_id}}" id="id_user_id" readonly="">
											<div class="row">
												<div class="col-md-3">
													<div class="post-image rounded">
														<img src="{% if post.img_post %} {{ post.img_post.url}} {% else %}/static/img/post.png{% endif %}" class="" alt="" sizes="(max-width: 272px) 100vw, 272px">
													</div>
													<div class="input-group mb-2 mt-2">
														<div class="custom-file">
															<input type="file" class="custom-file-input form-control" id="id_img_post" name="img_post"
																accept=".png, .jpg, .jpeg">
														</div>
													</div>
												</div>
												<div class="col-md-9">
													<div class="row">
														<div class="col-6">
															<label for="id_nom_post">Nom post:</label>
															<input type="text" name="nom_post" maxlength="100" class="form-control" required="" id="id_nom_post"
																autocomplete="off" value="{{post.nom_post}}">
														</div>
														<div class="col-6">
															<label for="id_act_post">Status:</label>
															<select class="form-select" aria-label="Default select example" name="act_post" id="id_act_post" required="">
																<option value="1" {% if post.act_post == 1 %}selected="" {% endif %}>Activo</option>
																<option value="0" {% if post.act_post == 0 %}selected="" {% endif %}>Inactivo</option>
															</select>
														</div>
														<div class="col-12">
															<label for="id_desc_post">Desc post:</label>
															<textarea name="desc_post" cols="15" rows="2" class="form-control" required=""
																id="id_desc_post">{{post.desc_post}}</textarea>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12 mt-2 mb-2">
													<button type="submit" name="contact-submit" class="btn btn-primary float-end" id="btn-register">
														<i class="bi bi-check-circle"></i> Actualizar
													</button>
												</div>
											</div>
										</form>
									{% else %}
										<div class="alert alert-danger alert-dismissible fade show" role="alert">
											<i class="bi bi-x-circle"></i> El posts que buscas no existe, por favor verifica.
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<script>
			$(document).ready(function () {
				var url = "{% url 'login' %}";
				$(location).attr('href', url);
			});
		</script>
	{% endif %}
{% endblock %}
{% block script %}
	<script type="text/javascript">
		/*$(document).ready(function(){
			$("#form-add-post").submit(function(e){
				$('#btn-register').attr("disabled", true);
				var serializedData = $(this).serialize();
				$.ajax({
					method: 	"POST",
					type : 		"POST",
					dataType: 	"JSON",
					url :  		"{% url 'add_post' %}",
					data : 		serializedData,
					beforeSend: function (objeto) {
						$("#div-cnt-msg-add").html('<div class="alert alert-info" role="alert">' +
							'<span class="spinner-border spinner-border-sm spin-x" role="status" aria-hidden="true"></span> Guardando...' + '</div>');
						$('#btn-register').html('<span class="spinner-border spinner-border-sm spin-x" role="status" aria-hidden="true"></span> Guardando...');
					},
					success : function(response){
						console.log(response);
						$('#btn-register').attr("disabled", false);
						//$("#btn-close-del-estab").trigger("click");
						//notify_msg(response.icon, " ", response.msg, "#", response.tipo);
						$("#form-add-post")[0].reset();
						$("#div-cnt-msg-add").html('<div class="alert alert-' + response.tipo + ' alert-dismissible fade show" role="alert"><i class="' + response.icon + '"></i> ' + response.msg + '</div>');
						$('#btn-register').html('<i class="bi bi-check-circle"></i> Agregar');
						setTimeout(function () {
							$("#div-cnt-msg-add").html("");
						}, 3000);
					},
					error : function(response){
						console.log(response);
						$('#btn-register').attr("disabled", false);
						$('#btn-register').html('<i class="bi bi-x-circle"></i> Agregar');
						$("#div-cnt-msg-add").html('<div class="alert alert-danger alert-dismissible fade show" role="alert"><i class="bi bi-x-circle"></i> Error interno, intenta más tarde.</div>');
						setTimeout(function () {
							$("#div-cnt-msg-add").html("");
						}, 3000);
					}
				});
				e.preventDefault();
			});
		});*/
	</script>
{% endblock %}