<!-- Modal -->
<div class="modal fade" id="mdl-add-reg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="form-add-post" name="form-add-post" accept-charset="utf-8" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="hidden" name="user" value="{{user.id}}" id="id_user" readonly="">
				<div class="modal-header bg-mdl-add">
					<h5 class="modal-title"><i class="fa fa-pencil"></i> Agregando</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12 text-center" id="div-cnt-msg-add-reg"></div>
					</div>
					<div class="row">
						<div class="col-md-12 mb-3">
							<div class="form-group input-group">
								<span class="has-float-label">
									<input type="text" class="form-control" name="nom_post" id="id_nom_post" placeholder="Nombre" required="required" value="" autocomplete="off">
									<label for="id_nom_post">Nombre</label>
								</span>
							</div>
						</div>
						<div class="col-md-12 mb-3">
							<select class="form-select" aria-label="Default select example" name="act_post" id="id_act_post" required="">
								<option value="1" selected="">Activo</option>
								<option value="0">Inactivo</option>
							</select>
						</div>
						<div class="col-md-12 mb-3">
							<div class="mb-3">
								<label for="id_desc_post" class="form-label">Contenido</label>
								<textarea class="form-control txt-desc" name="desc_post" id="id_desc_post" rows="3"></textarea>
							</div>
							<!--div class="form-group input-group">
								<span class="has-float-label">
									<input type="text" class="form-control" name="txt-desc-add" id="txt-desc-add" placeholder="Descripción" required="required" value="" autocomplete="off">
									<label for="txt-desc-add">Descripción</label>
								</span>
							</div-->
						</div>
						<div class="col-md-6 mb-3">
							<div class="input-group">
								<div class="custom-file">
									<input type="file" class="custom-file-input form-control" id="id_img_post" name="img_post" accept=".png, .jpg, .jpeg">
								</div>
							</div>
						</div>
						<div class="col-md-6 p-1">
							<div id="div-cnt-img-ajx"></div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-close-mdl-add-reg">
						<i class="bi bi-x-circle"></i> Cancelar
					</button>
					<button type="submit" class="btn btn-success" id="btn-register">
						<i class="bi bi-check2-circle"></i> Agregar
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade app-mdl" id="mdl-del-regs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-mdl-del p-2">
				<h5 class="modal-title"><i class="fa fa-trash-alt"></i> Eliminando</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form class="form" method="post" id="form-del-regs" name="form-del-regs">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12 text-center" id="div-cnt-del-list-regs"></div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center" id="div-cnt-del-regs"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="btn-close-mdl-del-regs" class="btn btn-secondary" data-bs-dismiss="modal">
						<i class="fa fa-times"></i> Cerrar
					</button>
					<button type="submit" class="btn btn-danger" id="btn-del-regs">
						<i class="fa fa-trash-alt"></i> Eliminar
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade app-mdl" id="mdl-del-reg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-mdl-del">
				<h5 class="modal-title"><i class="bi bi-trash"></i> Eliminando</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form method="post" id="form-del-reg" name="form-del-reg">
				{% csrf_token %}
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12 text-center" id="div-cnt-del-reg"></div>
					</div>
					<input type="hidden" id="txt-id-reg-del" name="list_ids" readonly="" value="0">
					<div class="row">
						<div class="col-md-12 text-center" id="div-cnt-del-reg">
							<h5>
								Seleccione la acción para <b class="text-danger" id="txt-nom-reg"></b>
							</h5>
						</div>
						<div class="col-md-12">
							<select class="form-select" aria-label="Default select example" name="act_post" id="slt-act-post" required="">
								<option selected="" value="" disabled> Seleccionar</option>
								<option value="1">Activar</option>
								<option value="0">Eliminar</option>
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="btn-close-mdl-del-reg" class="btn btn-secondary" data-bs-dismiss="modal">
						<i class="bi bi-x-lg"></i> Cerrar
					</button>
					<button type="submit" class="btn btn-danger" id="btn-del-reg">
						<i class="bi bi-trash"></i> Eliminar
					</button>
				</div>
			</form>
		</div>
	</div>
</div>