{% load static %}
<header class="p-3 mb-3 border-bottom fixed-top bg-white">
	<div class="container">
		<div class="row flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<div class="col-lg-2 col-md-2 col-sm-2 col-2">
				<a href="/" class="float-start text-dark text-decoration-none">
					<img class="img-fluid" src="{% static 'img/logo_navbar.svg' %}" type="image/x-svg" height="20">
				</a>
			</div>
			<form id="search" name="txt-search" method="GET" class="col-lg-7 col-md-7 col-sm-7 col-7 col-auto" action="{% url 'search' %}">
				<div class="search">
					<i class="bi bi-search"></i>
					<input type="text" id="txt-search-nav" name="q" class="form-control" placeholder="Búsqueda...">
					<button type="submit" class="btn btn-link btn-sm btn-search">
						<i class="bi bi-arrow-right-circle" style="font-size: 1.5em;"></i>
					</button>
				</div>
				<!--input id="txt-search" type="search" class="form-control form-control-dark" placeholder="Búsqueda..." aria-label="Search" name="q"-->
			</form>
			<div class="col-lg-3 col-md-3 col-sm-3 col-3">
				<div class="dropdown text-end float-end">
					{% if user.is_authenticated %}
						<!-- Hi {{ user.username }}! -->
						<a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown"
							aria-expanded="false">
							<img src="{{ user.profile.image.url }}" alt="mdo" width="32" height="32" class="rounded-circle img-thumbnail">
							<!--i-- class="bi bi-person-circle" style="font-size: 2rem;"></i-->
						</a>
						<ul class="dropdown-menu text-small dropdown-menu-end" aria-labelledby="dropdownUser1">
							<li><a class="dropdown-item" href="{% url 'add'%}">Nuevo <i class="bi bi-file-earmark-plus float-end"></i></a>
							</li>
							<li><a class="dropdown-item" href="{% url 'posts'%}">Posts <i class="bi bi-list-ol float-end"></i></a></li>
							<li><a class="dropdown-item" href="{% url 'profile'%}">Perfil <i class="bi bi-person-circle float-end"></i></a>
							</li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="{% url 'logout' %}">Salir <i class="bi bi-x-lg float-end"></i></a></li>
						</ul>
					{% else %}
						<div class="text-end">
							{% if request.path != '/accounts/login/' %}
								<a href="{% url 'login' %}" class="btn btn-outline-primary me-2"><i class="bi bi-person-circle"></i> <span class="d-none d-lg-inline-block">Login</span> </a> 
							{% endif %}
							{% if request.path != '/accounts/signup/' %}
								 <a href="{{'/accounts/signup'}}" class="btn btn-primary"><i class="bi bi-person-plus"></i> <span class="d-none d-lg-inline-block">Registro</span></a>
							{% endif %}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</header>