{% extends "base.html" %}
{% block head %}
	<title>Profile | linuxitos</title>
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
	<div class="container mt-5">
		<div class="row mt-5">
			<div class="col-md-12 mt-5">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Inicio</a></li>
						<li class="breadcrumb-item active" aria-current="page">Perfil</li>
					</ol>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">
							Perfil de: <span>{{user.username}}</span>
						</h5>
						<div class="row justify-content-center align-items-center">
							<div id="div-cnt-msg-up-profile" class="col-sm-12"></div>
							<div class="col-md-12">
								<form id="form-up-profile" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
									{% csrf_token %}
									<!--{{ p_form }}-->
									<div class="row">
										<div class="col-md-3">
											<div class="post-image rounded">
												<img src="{{ p_form.image.value.url }}"
													class="" alt="" sizes="(max-width: 272px) 100vw, 272px">
											</div>
											<div class="input-group mb-2 mt-2">
												<div class="custom-file">
													<input type="file" name="image" class="custom-file-input form-control" id="id_image" accept=".png, .jpg, .jpeg">
												</div>
											</div>
										</div>
										<div class="col-md-9">
											<div class="row">
												<div class="col-6 mb-2 mt-2">
													<div class="form-group input-group">
														<span class="has-float-label">
															<input type="text" class="form-control" name="first_name" id="id_first_name" placeholder="Last name"
																required="required" value="{{user.first_name}}" autocomplete="off">
															<label for="id_first_name">Nombre</label>
														</span>
													</div>
												</div>
												<div class="col-6 mb-2 mt-2">
													<div class="form-group input-group">
														<span class="has-float-label">
															<input type="text" class="form-control" name="last_name" id="id_last_name" placeholder="Last name"
																required="required" value="{{user.last_name}}" autocomplete="off">
															<label for="id_last_name">Appelidos</label>
														</span>
													</div>
												</div>
												<div class="col-12 mb-2 mt-2">
													<div class="form-group input-group">
														<span class="has-float-label">
															<input type="text" class="form-control" name="email" id="id_email" placeholder="email"
																required="required" value="{{user.email}}" autocomplete="off">
															<label for="id_email">email</label>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 mt-2 mb-2">
											<button type="submit" 	class="btn btn-primary float-end" id="btn-up-profile">
												<i class="bi bi-check-circle"></i> Actualizar
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="{{'static/js/custom.js'}}"></script>
{% endblock %}
{% block script %}
	<script type="text/javascript">
		$(document).ready(function(){


			$("#users").change(function(e){
				e.preventDefault();
				var username = $(this).val();
				var data = {username};
				$.ajax({
					type : 'GET',
					url :  "{% url 'get_user_info' %}",
					data : data,
					success : function(response){
						$("#user_info table tbody").html(`<tr>
							<td>${response.user_info.first_name || "-"}</td>
							<td>${response.user_info.last_name || "-"}</td>
							<td>${response.user_info.email || "-"}</td>
							<td>${response.user_info.is_active}</td>
							<td>${response.user_info.joined}</td>
							</tr>`)
					},
					error : function(response){
						console.log(response)
					}
				})
			})
		})
	</script>
{% endblock %}