
{% extends "base.html" %}
{% block head %}
	<title>search | linuxitos</title>
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
<script type='text/javascript'>
	var start = 0;
	var limit = 9;
	var search = "{{ search }}";
	var action = 'inactive';
</script>
<div class="container mt-5">
	<div class="row mt-5">
		<div class="col-md-12 mt-5">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Inicio</a></li>
					<li class="breadcrumb-item active" aria-current="page">Búsqueda: {{search}}</li>
				</ol>
			</nav>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 mb-4">
			<!-- content ajax load pagination -->
			<div id="div-cnt-ajax" class="row"></div>
			<div id="pag-temas"></div>
		
			<div class="row" id="div-cnt-content-load"></div>
			<div class="row">
				<div class="col-md-12" id="div-cnt-message-load"></div>
			</div>
		</div>
	</div>

	<!--div id="div-cnt-ajax" class="row">
	{% for post in posts %}
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-2 d-flex">
			<div class="card mb-2">
				<a href="{{'view/'}}{{post.slug_post}}">
					<div class="post-image w-100">
						<img src="{% if post.img_post %} /media/{{post.img_post}} {% else %}static/img/post.png{% endif %}" sizes="(max-width: 172px) 100vw, 172px">
					</div>
				</a>
				<div class="card-body font-weight-bold ">
					<a class="text-dark" href="{{'view/'}}{{post.slug_post}}">
						{{post.nom_post}}
					</a>
				</div>
				<div class="row">
					<div class="col-md-12 px-4">
						<small class="float float-right text-muted">By {{post.user_id}}</small>
						<small class="float-end">{{ post.fc_post | date:"d-M-Y" }}</small>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	</div-->
</div>
{% endblock %}
{% block script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('#div-cnt-message-load').html('');
			function loadScrollArts(limit, start) {
				$.ajax({
					url: 		"loadscroll",
					method: 	"POST",
					dataType: 	"JSON",
					type: 		"POST",
					data: {
						csrfmiddlewaretoken: '{{ csrf_token }}',
						start: start,
						search: search,
						limit: limit,
						order_by: 'id',
						order: '-',
					},
					cache: false,
					success: function (data) {
						$('#div-cnt-content-load').append(data.data);
						if (data.data == '') {
							$('#div-cnt-message-load').html('<div class="text-center mt-2"><div class="alert alert-info" role="alert">' +
								'<i class="bi bi-info-circle"></i> No hay más elementos para cargar.</div></div>');
							action = 'active';
						} else {
							$('#div-cnt-message-load').html('<div class="text-center mt-2 mb-2"><div class="alert alert-info" role="alert"><span class="spinner-border spin-2x align-middle" role="status" aria-hidden="true"></span>' +
								' Cargando más contenido...</div></div>');
							action = "inactive";
						}
					}
				});
			}

			if (action == 'inactive') {
				action = 'active';
				loadScrollArts(limit, start);
			}

			$(window).scroll(function () {
				var scrollHeight = $(document).height();
				var scrollPos = $(window).height() + $(window).scrollTop();
				if (((scrollHeight - 200) >= scrollPos) / scrollHeight == 0 && action == 'inactive') {
					//if ($(window).scrollTop() + $(window).height() > $("#div-cnt-content-load").height() && action == 'inactive') {
					action = 'active';
					start = start + limit;
					setTimeout(function () {
						loadScrollArts(limit, start);
					}, 1000);
				}
			});
		});
	</script>
{% endblock %}