{% extends "base.html" %}
{% block head %}
	<title>View post | linuxitos</title>
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
	<div class="container mt-5">
		<div class="row mt-5">
			<div class="col-md-12 mt-5">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Inicio</a></li>
						<li class="breadcrumb-item active" aria-current="page">Visualizando post</li>
					</ol>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						{% if post %}
							<div class="row">
								<div class="col-md-2">
									<div class="post-image rounded">
										<img src="{% if post.img_post != '' %} {{ post.img_post.url}} {% else %}/static/img/post.png{% endif %}" class="" alt="" sizes="(max-width: 272px) 100vw, 272px">
									</div>
								</div>
								<div class="col-md-10">
									<h1>
										{{post.nom_post}}
									</h1>
									<small>
										{{post.fc_post}}
									</small>
									<p>
										{{post.desc_post}}
									</p>
									<hr>
									<p>
										django preview post from database
									</p>
								</div>
							</div>
						{% else %}
							<div class="alert alert-danger" role="alert"><i class="bi bi-info-circle"></i> El artículo no se encontró, por favor revise. </div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}